.form__part {
  width: 100%;
  height: 4rem;
  margin-bottom: 1rem;
  transition: 0.3s all;
  animation: fadeIn 0.3s forwards;
}

input,
select {
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  margin-top: 0.4rem;
}
.labels {
  font-size: 1.2rem;
}
input {
  padding-left: 0.2rem;
}
select {
  cursor: pointer;
  overflow-y: auto;
}
.close-popup {
  display: block;
  text-align: right;
  color: var(--main-color-two);
  font-size: 1.1rem;
  font-weight: 800;
}
.close-ico:hover {
  cursor: pointer;
  display: inline-block;
  transform: scale(1.1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    height: 0rem;
  }
  to {
    opacity: 1;
    height: 4rem;
  }
}
