.item__list {
  flex: 0 1 5rem;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
}

.item__list--title {
  padding: 1rem 0 0.5rem 1rem;
  font-weight: 700;
  border-bottom: 1px solid var(--main-border-color);
}

.item__list--list {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-content: flex-start;
}
.overview__items--time-pressed {
}
.overview__items--all {
}
