.room__list {
  flex-direction: column;
  padding: 0;
  gap: 0;
}
.room__list--title {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.room__list--title > * {
  flex: 1 1 3rem;
}
.room__list--title > *:last-child {
  text-align: right;
}

.list__item--container {
  padding: 1rem;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--main-border-color);
}
.list__item--container > * {
  flex: 1 1 3rem;
}
.list__item--container > *:last-child {
  text-align: right;
}
